{{#progress}}
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
{{/progress}}

<div id="wrapper">
  {{#slides}}
    <section class="slide">{{{.}}}</section>
  {{/slides}}
</div>
{{#controls}}
  <div class="controls">
    <div class="arrow prev"></div>
    <div class="arrow next"></div>
  </div>
{{/controls}}

<div class="book">
  <div>
    <p><em>Excerpted from the new book <a href="http://learn-rails.com/learn-ruby-on-rails.html">Learn Ruby on Rails</a> by Daniel Kehoe</em></p>
  </div>
</div>

<script type="text/javascript">
  {{{navigation}}}
</script>

<!-- analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5109366-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
